<!-- Minimal footer (site override of al_folio_core _includes/footer.liquid): last-updated stamp only, no copyright/theme credit. -->
<footer class="sticky-bottom mt-5" role="contentinfo">
  <div class="container">
    Last updated: {{ 'now' | date: '%B %Y' }}.
  </div>
</footer>
